.table-style {
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none; 
    scroll-behavior: smooth;
    justify-content: space-around;
    align-items: center;
}

.table-style::-webkit-scrollbar {
    display: none;
}

button:disabled {
    color: grey;
    background-color: white;
}

.btn {
    background: aqua;
}

@media screen and (max-width: 768px){
    input::placeholder {
    font-size: 16px;
    }

    
}

table {
    border-collapse: separate;
    border-spacing: 0 4px;
  }